:root {
  --primary-color: #ff1199;
  --secondary-color: #55ebf2;
  --black-color: #2d2d2d;
  --dark-color: #001358;
  --light-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark-color);
  color: var(--light-color);

  margin: 0;
  //background-color: #2d2d2d;
  //color: white;
}

ul {
  list-style: none;
}

h3,
h4 {
  color: #fff;
}

h1 {
  color: #fff;
  padding: 1.5rem;
}

h2 {
  color: #fff;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #fff;
}