* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #001358;
  //color: white;
}